@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    min-width: 900px;
}

header {
    overflow: auto;
}

img {
    width: 2.5vw;
}

h1 {
    font-size: 3.5em;
    padding-bottom: 5%;
}

h2 {
    font-size: 3em;
}

p, h3 {
    font-size: 1em;
    line-height: 200%;
}

.logo {
    margin: 3% 3%;
    display: flex;
    float: left;
    height: 5%;
}

.logoText {
    padding-left: 1vw;
    line-height: 50%;
}

.logoText h1 {
    margin-top: 1.5vh;
    font-size: 1.5vw;
}

.logoText p {
    font-size: 1vw;
}

.img-header {
    float: right;
    width: 50%;
}

.img-header img {
    width: 100%;
}

.img-header img:last-of-type {
    margin-top: -100%;
}

header article {
    padding: 15vw 0 15vw 5vw;
    width: 50%;
}

header article p {
    padding-top: 2vh;
    font-size: 1.5em;
}

header article p:last-of-type {
    font-size: .7em;
    font-weight: 600;
    padding-top: 20vh;
    color: #ff3571;
}

header>img {
    width: 100%;
    padding-bottom: 10%;
}

#topContent, #bottomContent {
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
}

#topContent h2 {
    width: 35%;
    padding-right: 5%;
}

#topContent>p {
    width: 60%;
}

#topContent h2:last-of-type {
    width: 70%;
    margin: 20% 30% 10% 0;
    margin-bottom: 20%;
}

#topContent section {
    display: flex;
}

.box-topContent {
    width: 50%;
    margin-bottom: 5%;
}

.box-topContent article{
    display: flex;
    align-items: center;
}
.box-topContent article img {
    width: 5%;
    margin-right: 10%;
}

.box-topContent p {
    padding: 5% 10% 5% 15%;
}

#bottomContent>article {
    text-align: center;
    margin-bottom: 20%;
}

#bottomContent>article p {
    width: 80%;
    margin:auto;
    padding-top: 5%;
    font-size: 1.5em;
    line-height: 150%;
}

.box-bottomContent {
    display: flex;
    margin-bottom: 10%;
}

.box-bottomContent img {
    width: 40%;
    padding: 0 5%;
}

.box-bottomContent article {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.box-bottomContent article h2 {
    color: #dddddd;
    padding-bottom: 10%;
}

.box-bottomContent article p{
    padding-top: 5%;
}
.box-bottomContent article img {
    padding-bottom: 5%;
    width: 2vw;
}
footer{
    text-align: center;
    height: 60vh;
}
footer article{
    margin:0 auto 5%;
}
footer form{
    width: 30%;
    margin:auto;
}

#tb-form{
    width: 100%;
    height: 8vh;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 10vw #dddddd;
}

#btn-subscribe{
    width: 50%;
    height: 7vh;
    margin-top: 5%;
    border: none;
    border-radius: .3vw;
    background-color: #ff3571;
    color: #fff;
}